<label for="email">Почта</label>
{{{emailInput}}}
<label for="login">Логин</label>
{{{loginInput}}}
<label for="first_name">Имя</label>
{{{firstNameInput}}}
<label for="second_name">Фамилия</label>
{{{secondNameInput}}}
<label for="chat_name">Имя в чате</label>
{{{chatNameInput}}}
<label for="phone">Телефон</label>
{{{phoneInput}}}
{{{button}}}