{{#each users}}
	<hr style="width: 80%; position: relative; left: 10%">
	<div class="chat-list__list-element" data-id="{{this.id}}">
		<div class="element__icon"></div>
		<p class="element__name">{{this.barInfo.name}}</p>
		<div class="element__text-preview"><p>{{this.barInfo.text}}</p></div>
		<date class="element__date">{{this.barInfo.date}}</date>
		<div class="element__circle">
			{{this.barInfo.incoming}}
		</div>
	</div>
{{/each}}