<label for="email">Почта</label>
{{{emailInput}}}
{{{emailHint}}}
<label for="login">Логин</label>
{{{loginInput}}}
{{{loginHint}}}
<label for="first_name">Имя</label>
{{{firstNameInput}}}
{{{firstNameHint}}}
<label for="second_name">Фамилия</label>
{{{secondNameInput}}}
{{{secondNameHint}}}
<label for="chat_name">Имя в чате</label>
{{{chatNameInput}}}
{{{chatNameHint}}}
<label for="phone">Телефон</label>
{{{phoneInput}}}
{{{phoneHint}}}
{{{button}}}
