<h1>Регистрация</h1>
<label for="email">Почта</label>
{{{emailInput}}}
{{{emailHint}}}
<label for="login">Логин</label>
{{{loginInput}}}
{{{loginHint}}}
<label for="first_name">Имя</label>
{{{firstNameInput}}}
{{{firstNameHint}}}
<label for="second_name">Фамилия</label>
{{{secondNameInput}}}
{{{secondNameHint}}}
<label for="phone">Телефон</label>
{{{phoneInput}}}
{{{phoneHint}}}
<label for="password">Пароль</label>
{{{passInput}}}
{{{passHint}}}
<label for="password_repeat">Пароль (ещё раз)</label>
{{{passRepeat}}}
{{{passRepeatHint}}}
<label class="hint hint_2 none">Пароли должны повторяться</label>
{{{button}}}
{{{link}}}
		