<h1>Вход</h1>
<label for="login">Логин</label>
{{{loginInput}}}
{{{loginHint}}}
<label for="password">Пароль</label>
{{{passInput}}}
{{{passHint}}}
{{{button}}}
<!--<a class="link">Нет аккаунта?</a>-->
{{{link}}}
