<label for="old_password">Старый пароль</label>
{{{oldPass}}}
{{{oldPassHint}}}
<label for="password">Новый пароль</label>
{{{pass}}}
{{{passHint}}}
<label for="password_repeat">Повторите новый пароль</label>
{{{passRepeat}}}
{{{passRepeatHint}}}
{{{button}}}
